<html>
  <style>
    html {
      padding: 10px;
      font-family: Arial;
      --table-font-size: 10px;
      font-size: 11px;
    }
    body > :not(:last-child) {
      margin-bottom: 10px;
    }
    table {
      font-size: var(--table-font-size);
    }
    th,
    td {
      border: 1px solid black;
      margin: 0 2px;
    }
    .alignedTop {
      vertical-align: top;
    }
    td:not(.alignedTop) {
      text-align: center;
    }
    .title {
      font-weight: bold;
      text-align: center;
    }
    .boxesContainer {
      display: flex;
      flex-direction: row;
    }
    .boxed {
      border: 1px solid black;
      margin: 0;
    }

    .headerInfoContainer {
      display: flex;
      flex-direction: row;
    }
    .headerInfoContainer > .box {
      border: 1px solid black;
      padding: 5px;
    }
  </style>
  <body>
    <h4 class="title">ANNEXE 3 BIS / ANNEXE A LA FACTURE</h4>

    <div class="boxesContainer">
      <div class="boxed">ANNEXE A LA FACTURE</div>
      <div class="boxed" style="position: relative; left: -1px">
        TRANSPORT(S) PAR TAXI POUR MOTIF MEDICAL
      </div>
      <div style="flex: 1">&nbsp;</div>
      <div class="boxed">NUMERO DE FACTURE</div>
    </div>
    <div class="boxesContainer">
      <div style="flex: 1"></div>
      <div class="boxed" style="color: transparent">NUMERO DE FACTURE</div>
    </div>

    <div class="headerInfoContainer">
      <div style="flex: 3" class="box">
        <div style="text-align: center; font-weight: bold">
          RENSEIGNEMENTS CONCERNANT L'ASSURE(E)
        </div>
        <strong>NUMERO D'IMMATRICULATION</strong>
        <div>{{{patient.socialSecurityNumber}}}</div>
        <div>
          NOM PATRONYMIQUE&emsp;{{{patient.computedInsuranceHolderLastName}}}
        </div>
        <div>NOM D'USAGE&nbsp;</div>
        <div>PRENOM&emsp;{{{patient.computedInsuranceHolderFirstName}}}</div>
        <div>
          Si la personne transport&eacute;e n'est pas l'assur&eacute;(e):
        </div>
        <div>NOM PATRONYMIQUE, PRENOM</div>
        <div>
          {{{patient.computedNonInsuranceHolderLastName}}}
          {{{patient.computedNonInsuranceHolderFirstName}}}
        </div>
      </div>
      <div style="width: 10px"></div>
      <div style="flex: 2" class="box">
        <div>
          <strong>DENOMINATION DE L'ENTREPRISE</strong>
          <div style="white-space: pre">{{{enterprise.nameAndAddress}}}</div>
        </div>
      </div>
    </div>

    <table
      style="border-collapse: collapse; width: 100%; height: 18px"
      border="1"
    >
      <thead>
        <tr>
          <th style="width: 1%">N&deg;</th>
          <th style="width: 20%">
            <div>D&eacute;part: Date - Heure</div>
            <div>Lieu de prise en charge</div>
          </th>
          <th style="width: 20%">
            <div>Arriv&eacute;e: Date - Heure</div>
            <div>Lieu de prise en charge</div>
          </th>
          <th style="width: 8%">Nombre de personnes</th>
          <th style="width: 20%">
            <div>Conducteur du v&eacute;hicule</div>
            <div>Immatriculation du v&eacute;hicule</div>
            <div>N&deg; de stationnement</div>
          </th>
          <th style="width: 8%">Tarif</th>
          <th style="width: 8%">Distance totale (km)</th>
          <th style="width: 8%">Total du transport (euros)</th>
          <th>Motif</th>
        </tr>
      </thead>
      <tbody>
        {{#journeys}}
        <tr>
          <td>{{index}}</td>
          <td>
            <div>{{{formattedDepartureDate}}} - {{formattedDepartureTime}}</div>
            <div>{{{formattedDepartureLocation}}}</div>
          </td>
          <td>
            <div>{{formattedArrivalDate}} - {{formattedArrivalTime}}</div>
            <div>{{{formattedArrivalLocation}}}</div>
          </td>
          <td>{{concurrentJourneys}}</td>
          <td>
            {{{user.lastName}}} {{{user.firstName}}}
            <div>{{{car.numberplate}}}</div>
          </td>
          <td>{{forfaitTarif}}</td>
          <td>{{totalDistance}}</td>
          <td>{{counterPrice}}</td>
          <td>{{shortReason}}</td>
        </tr>
        {{/journeys}}
      </tbody>
    </table>

    <div class="headerInfoContainer">
      <div style="flex: 3; min-height: 120px" class="box">
        <div>ATTESTATION DE LA PERSONNE TRANSPORTEE</div>
        <div>
          L'assur&eacute;(e) autorise le versement direct au transporteur
          ci-dessus d&eacute;sign&eacute;. La personne transport&eacute;e
          s'engage &agrave; r&eacute;gler, s'il y a lieu, le montant restant
          &agrave; sa charge. Elle atteste &eacute;galement de la
          r&eacute;alit&eacute; et des conditions de transport
          d&eacute;taill&eacute;es sur le pr&eacute;sent document.
        </div>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 1rem;
          "
        >
          <span>Fait &agrave; {{doneIn}} </span>
          <span>Le {{{now}}}</span>
        </div>
        <span>Signature</span>
        <span style="position: relative">
          {{#signaturePatient}}
          <img
            src="data:image/png;base64,{{{signaturePatient}}}"
            style="
              width: 80px;
              height: auto;
              position: absolute;

              left: 50px;
            "
          />
          {{/signaturePatient}}
        </span>
      </div>
      <div style="width: 10px"></div>
      <div style="flex: 2" class="box">
        <div>ATTESTATION DU TRANSPORTEUR</div>
        <div>
          Le transporteur atteste de la r&eacute;alit&eacute; des informations qu'il porte sur le pr&eacute;sent document.
        </div>
        <div
                style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 1rem;
          "
        >
          <span>Fait &agrave; {{doneIn}} </span>
          <span>Le {{{now}}}</span>
        </div>
        <span>Signature</span>
        <span style="position: relative">
          {{#enterprise.signature}}
          <img
                  src="data:image/png;base64,{{{enterprise.signature}}}"
                  style="
              width: 80px;
              height: auto;
              position: absolute;

              left: 50px;
            "
          />
          {{/enterprise.signature}}
        </span>
      </div>
    </div>
  </body>
</html>
