<html>
  <style>
    html {
      padding: 10px;
      font-family: Arial;
      --table-font-size: 8px;
      font-size: 9px;
    }
    body > :not(:last-child) {
      margin-bottom: 10px;
    }
    table {
      font-size: var(--table-font-size);
      table-layout: fixed;
    }
    th,
    td {
      border: 1px solid black;
      margin: 0 2px;
      word-wrap: break-word;
    }

    th {
      background-color: grey;
      font-weight: normal;
      font-size: 8px;
    }

    .alignedTop {
      vertical-align: top;
    }
    td:not(.alignedTop) {
      text-align: center;
    }
  </style>
  <body>
    <h4 style="text-align: center">
      <span style="text-decoration: underline"
        ><strong
          >ANNEXE 4 - ANNEXE A LA FACTURE VALANT ATTESTATION DE SERVICE FAIT
        </strong>
      </span>
    </h4>
    <p>
      En application de l'article 7.2 de la pr&eacute;sente convention, cette
      annexe sign&eacute;e par le patient est transmise par l'entreprise de taxi
      conventionn&eacute;e afin d'attester de la r&eacute;alit&eacute; de la
      r&eacute;alisation du transport du patient.<br />
      <strong>Num&eacute;ro de facture :&nbsp;</strong>
    </p>
    <div style="display: flex; flex-direction: row">
      <div style="flex: 3; border: 1px solid black; padding: 5px">
        <strong>RENSEIGNEMENTS CONCERNANT L'ASSURE(E)</strong><br />
        N&deg; de s&eacute;curit&eacute; sociale :
        {{{patient.socialSecurityNumber}}}<br />
        Nom&nbsp;: {{{patient.computedInsuranceHolderLastName}}}<br />
        Pr&eacute;nom : {{{patient.computedInsuranceHolderFirstName}}}<br />
        Caisse&nbsp;: {{{patient.socialSecurityName}}}<br />
        Mutuelle&nbsp;: {{{patient.healthInsuranceName}}}<br />
        Date Naissance&nbsp;: {{{patient.formattedDateOfBirth}}}<br />
        <span style="font-size: 0.75rem"
          >Si la personne transport&eacute;e n'est pas l'assur&eacute;(e):
        </span>
        <br />
        Nom : {{{patient.computedNonInsuranceHolderLastName}}}
        {{{patient.computedNonInsuranceHolderFirstName}}}<br />
        Adresse&nbsp;: {{{patient.address}}}
      </div>
      <div style="width: 10px"></div>
      <div style="flex: 2; border: 1px solid black; padding: 5px">
        <div>
          <strong>IDENTIFICATION DE L'ENTREPRISE</strong>
          <div style="white-space: pre">{{{enterprise.nameAndAddress}}}</div>
        </div>
        <div style="margin-top: 10px">
          Signature taxi
          <span style="position: relative">
            <img
              src="data:image/png;base64,{{{enterprise.signature}}}"
              style="
                width: 100px;
                height: auto;
                position: absolute;
                top: -60px;
                left: 80px;
              "
            />
          </span>
        </div>
      </div>
    </div>

    <table
      style="border-collapse: collapse; width: 100%; height: 18px"
      border="1"
    >
      <thead>
        <tr>
          <th style="width: 20%">D&eacute;part</th>
          <th style="width: 20%">Arriv&eacute;e</th>
          <th rowspan="2" style="width: 8%">
            Nombre de personnes transport&eacute;es
          </th>
          <th rowspan="2" style="width: 10%">Co&ucirc;t compteur</th>
          <th colspan="2" style="width: 24%">Identification taxi</th>
          <th rowspan="2" style="width: 8%">TPMR</th>
          <th rowspan="2" style="width: 10%">
            Suppl&eacute;ment remboursable (routes payantes)
          </th>
        </tr>
        <tr>
          <th>Date et heure<br />Lieu de prise en charge</th>
          <th>Date et heure<br />Lieu de prise en charge</th>

          <th>Nom et pr&eacute;nom du chauffeur</th>
          <th>Num&eacute;ro d'immatriculation</th>
        </tr>
      </thead>
      <tbody>
        {{#journeys}}
        <tr>
          <td class="alignedTop">
            <div>{{{formattedDepartureDate}}}</div>
            <div>{{formattedDepartureTime}}</div>
            <div>{{{formattedDepartureLocation}}}</div>
          </td>
          <td class="alignedTop">
            <div>{{{formattedDepartureDate}}}</div>
            <div>{{formattedArrivalTime}}</div>
            <div>{{{formattedArrivalLocation}}}</div>
          </td>
          <td>{{concurrentJourneys}}</td>
          <td>{{counterPrice}} €</td>
          <td>{{{user.lastName}}} {{{user.firstName}}}</td>
          <td>{{{car.numberplate}}}</td>
          <td>{{{tpmr}}}</td>
          <td>{{toll}}</td>
        </tr>
        {{/journeys}}
      </tbody>
    </table>

    <p>
      <br /><strong>ATTESTATION</strong> : L'assur&eacute;(e), ou la personne
      transport&eacute;e, ou son repr&eacute;sentant l&eacute;gal, atteste de la
      r&eacute;alit&eacute; et des conditions du (des) transports
      d&eacute;taill&eacute;(s) ci-dessus.
    </p>
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <span>Fait &agrave; {{doneIn}} Le {{{now}}}</span>
      <span> Signature Patient </span>
      <span style="position: relative">
        {{#signaturePatient}}
        <img
          src="data:image/png;base64,{{{signaturePatient}}}"
          style="
            width: 80px;
            height: auto;
            position: absolute;
            top: -20px;
            left: -100px;
          "
        />
        {{/signaturePatient}}
      </span>
    </div>
    <div style="margin-top: 60px">
      <em style="font-size: 0.75rem">
        La loi rend passible d&rsquo;amende et/ou d&rsquo;emprisonnement
        quiconque se rend coupable de fraudes ou de fausses d&eacute;clarations
        (art. L377-1 du code de la S&eacute;curit&eacute; sociale, 1047 du Code
        Rural, 441.1 du Code P&eacute;nal)
      </em>
    </div>
  </body>
</html>
